body {
    background-color: #D6CDA4;
    color: darkolivegreen;
}
table{
    width: 100%;
    text-align: center;
}
h4{
    color: rgb(0, 0, 0);
}

    h1{
        color: darkslategray;
        background-color: #E3C770;
}
h2{
    color: darkmagenta;
}
.table-menu td :link{
    color: #FFAE6D(255, 142, 142);
}
.table-menu td :hover{
    background-color: #E3C770;
    color: #FFAE6D(255, 159, 159);
    
}
.table-menu {
    background-color: #FFD8A9;
   
    
}
