body {
    background-color: #D6CDA4;
    color: darkolivegreen;
}
.table-menu1 td :link{
    color: #FFAE6D(255, 142, 142);
}
.table-menu1 td :hover{
    background-color: #E3C770;
    color: #FFAE6D(255, 159, 159);
    
}

.table-menu1 {
    background-color:#F0E161;
}
h2{
    color: black;
}
h1{
    color: rgb(66, 6, 71);
}